<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Final Project | Artificial Neural Computation</title>
    <link rel="stylesheet" href="style/main.css" />
      <link rel="stylesheet" href="style/main.scss">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
      <style>
          .hidden{
              display: none !important;
          }
          .doc-card{
             font-size: 9pt;
          }
          .ANC Final ProjectLogo{
              font-family: 'Noto Sans TC', sans-serif;
          }
          .logo-bottom{
                width: 150px;
                height: 4px;
                margin-top: -7px;
                background: #ce1e1e;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
          }
      </style>
  </head>
  <body>
    <div id="vue-app">
            <div class="ui sidebar inverted vertical menu">
                    <a class="item" v-on:click="selectPage(5)">
                        Dashboard/Settings
                    </a>
                    <a class="item" v-on:click="selectPage(1)">
                        Topic Word Relationship
                    </a>
                    <a class="item" v-on:click="selectPage(2)">
                        Inverse Word Topic Relationship
                    </a>
                    <a class="item" v-on:click="selectPage(3)">
                        Correlation Analysis
                    </a>
                    <a class="item" v-on:click="selectPage(4)">
                        Word Analysis
                    </a>
                    </div>
                <div class="pusher">
                    <div id="container-fluid" style=" margin-bottom: 50px;">
                            <nav id="navbar-example2" class="navbar navbar-dark bg-dark bg-light">
                            <a  id="toggle-sidebar" class="navbar-brand" href="#"><i class="fas fa-bars"></i> &nbsp; Team 15 Final Project</a>
                            <!--<a style="cursor:pointer; color:white;">Toggle Menu</a>-->
                            </nav>
                    </div>
                <!-- Site content !-->
                    <div class="container">
                        <div class="row" id="page1" v-bind:class="{ 'hidden': selectedPage != 1 }">


                           <div class="col-md-6" id="cluster">
                           </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5">
                              <div id="stacked-bar">
                              </div>
                              <div id="legendT">

                              </div>
                            </div>
                        </div>



                        <div class="container" id="inverse-word-topic">

                            <div class="row" id="page2" v-bind:class="{ 'hidden': selectedPage != 2 }">

                                <div class="col-md-12" id="speciescollapsible">
                                    
                                </div>
                            </div>
                        </div>

                        <div id="page3" v-bind:class="{ 'hidden': selectedPage != 3 }">
                            <div id="parallel-coordinate-vis">

                            </div>
                            <div id="pc-hc">
                                <div id="pc-container" style="height: 1000px;"></div>
                            </div>
                        </div>
                        <div id="page4" v-bind:class="{ 'hidden': selectedPage != 4 }">

                            <div id="overall-wc" style="height: 300px;"></div>
                            <div class="row" id="topic-wcs">

                            </div>
                        </div>
                        <div id="page5" v-bind:class="{ 'hidden': selectedPage != 5 }">
                            <h1 class="ANC Final ProjectLogo text-center">
                                ANC Final Project Duplex
                            </h1>
                            <div class="logo-bottom"></div>
                            <h3>Settings</h3>
                            <small>Choose algorithm and dataset</small>
                            <div v-if="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>


                            <div class="row" v-if="success">
                                <div class="col-sm-12">
                                    <div class="alert alert-success" role="alert">
                                      <h4 class="alert-heading">All Documents Analyzed. </h4>
                                      <p>You may open the new outputs from the sidemenu option. Click top left icon on this page to open side menu..</p>
                                      <hr>

                                    </div>
                                </div>
                            </div>
                            <div class="row" v-if="failure">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger" role="alert">
                                      <h4 class="alert-heading">Something went wrong!</h4>
                                      <p>Seems like you did not provide enough words to analyze. Or, the documents are too big.</p>
                                      <hr>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card note-card">
                                         <div class="card-body">
                                             <div class="form-group">
                                                <label for="exampleFormControlSelect0">Text Clustering Algorithm</label>
                                                <select  v-model="settings.selectedMethod" class="form-control" id="exampleFormControlSelect0">
                                                  <option value="LDA">Latent Dirichlet Allocation</option>
                                                  <option value="word2Vec">InferSent</option>
                                                </select>
                                              </div>


                                             <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Enter text here.</label>
                                                <textarea v-model="newDoc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                 <button v-on:click="addNewDoc">Add Doc</button>
                                             </div>


                                                <div class="form-group">
                                                    <button v-on:click="saveChanges" class="btn btn-info btn-block">Analyze Documents</button>
                                                </div>


                                              </div>




                                    </div>



                                </div>
                                <div class="col-sm-6">
                                    <div id="new-documents">
                                        <div  v-bind:class="{ 'hidden': (showProcessed || newDocs == 0) }">
                                            <h4>Documents</h4>
                                            <div class="card-columns">
                                                <div v-for="doc in newDocs" class="card doc-card">
                                                    <div class="card-body">
                                                        {{doc}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div v-bind:class="{ 'hidden': !showProcessed }">
                                            <h4>Documents Processing Complete</h4>
                                            <div class="card-columns">
                                                <div v-for="doc in newDocsProccessed" class="card doc-card">
                                                    <div class="card-body">
                                                        {{doc}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
    </div>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/parallel-coordinates.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.6.0/Tween.min.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script> -->
    <script src="dist/js/app.js"></script>
  </body>
</html>